<%inherit file='layouts/default.htm'/>
<div class="starter-template">
    <h1>Marketplace Buyer Beware</h1>
    <p class="lead">Marketplace Buyer Beware was created to protect residents and their money.<br/>
    Using open source software such as bootstrap and python, we hope to help residents across the grid.<br/><br/>
    Please do not blame Linden Lab&reg; for the need of this tool. They do what they can within the law.
    They can't just remove something because suspicions because it would punish those who may have actually got legitiment permission.
    However there are quite obvious instances where people did not get permission and is a asset rip, this tool is here to bridge that gap.
    </p>
    <h1>Open Source Contributors</h1>
    <p class="lead">
        Chaser Zaks - @_felix_wolf_<br/>
    </p>
</div>

