<%inherit file='layouts/default.htm'/>
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Marketplace Buyer Beware</h1>
        <p>Tired of buying ripped content by mistake? Don't want to see ripped content? We are here to help!</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Resident curated</h2>
            <p>All reports are reported by residents, for residents. All evidence and report information is fully transparent.</p>
            <p><a class="btn btn-secondary" href="#" role="button" href="/about">Report ripped content &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>See the warning signs</h2>
            <p>We have a user script that works with <a href="https://chrome.google.com/webstore/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo?hl=en">Tampermonkey</a> and <a href="https://addons.mozilla.org/en-US/firefox/addon/greasemonkey/">Greasemonkey</a>!</p>
            <p><a class="btn btn-secondary" href="#" role="button">Get the script &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Open source</h2>
            <p>Fork us, see our secrets! We don't hide anything, see the source to all our code!</p>
            <p><a class="btn btn-secondary" href="https://github.com/FelixWolf/mpbb" role="button">View on Github &raquo;</a></p>
        </div>
    </div>
</div> <!-- /container -->

